.indexRules {
    width: 100%;
    padding: 34rem 0 64rem;

    @include bg("/media/main-back-02.jpg", 100% auto, center top);

    @include mob {
        padding: 78rem 0 32rem;

        @include bg("/media/main-back-02-mob.jpg", 100% auto, center top);
    }

    &__offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 98rem;
        padding: 47rem 200rem 55rem;
        border: 1rem solid #c08d4e;
        border-radius: 30rem;

        @include mob {
            width: 100%;
            margin-bottom: 104rem;
            padding: 41rem 20rem 52rem;
            border-width: 2rem;
            border-radius: 24rem;
        }

        &Text {
            color: #fff;
            font-size: 18rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                font-size: 20rem;
            }

            & b {
                color: #ffe0a7;
                font-weight: 600;
            }

            & + & {
                margin-top: 24rem;
            }
        }
    }

    &__title {
        margin-bottom: 58rem;

        @include mob {
            margin-bottom: 36rem;
        }
    }

    &__steps {
        display: flex;
        justify-content: space-between;
        width: 100%;
        counter-reset: stepCount;

        @include mob {
            flex-direction: column;
            align-items: center;
        }
    }

    &__step {
        width: 300rem;
        counter-increment: stepCount;

        @include mob {
            width: 100%;

            & + & {
                margin-top: 45rem;
            }
        }

        &Head {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 288rem;
            margin-bottom: 32rem;
            padding-top: 12rem;
            border: 2rem solid #c08d4e;
            border-radius: 24rem;
            animation: 1.5s rulesCard infinite ease-in-out;
            will-change: transform;

            @keyframes rulesCard {
                0%,
                100% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.04);
                }
            }

            @include mob {
                height: 310rem;
                border-width: 3rem;
                border-radius: 28rem;
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
                width: 160%;
                height: 160%;
                transform: translate(-50%, -50%);
                content: "";

                @include bg("/media/steps-back.png", contain, center);
            }
        }

        &:nth-child(1) &Head {
            animation-delay: 0s;
        }

        &:nth-child(2) &Head {
            animation-delay: 0.5s;
        }

        &:nth-child(3) &Head {
            animation-delay: 1s;
        }

        &Image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:nth-child(1) &Content {
            padding-left: 67rem;

            @include mob {
                padding-left: 82rem;
            }
        }

        &Content {
            position: relative;
            z-index: 1;
            width: 100%;
            padding-left: 83rem;

            @include mob {
                padding-left: 102rem;
            }

            &::before {
                position: absolute;
                top: -12rem;
                left: 0;
                color: #dab582;
                font-size: 130rem;
                font-family: Circe;
                content: counter(stepCount);

                @include mob {
                    font-size: 150rem;
                }
            }
        }

        &Title {
            margin-bottom: 7rem;
            color: #fff;
            font-weight: 500;
            font-size: 24rem;
            line-height: 1.3;
            text-transform: uppercase;

            @include mob {
                margin-bottom: 9rem;
                font-weight: 500;
                font-size: 26rem;
            }
        }

        &Text {
            color: #fff;
            font-size: 18rem;
            line-height: 1.3;

            @include mob {
                font-size: 20.5rem;
                line-height: 1.28;
            }

            & b {
                color: #ffe0a7;
                font-weight: 600;
            }
        }
    }
}
