.button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 8rem;
    transition: $trans;

    @include mob {
        border-radius: 10rem;
    }

    @include button;

    &__inner {
        width: 100%;
        height: 100%;
        padding: 17rem 18rem;
        color: #fff;
        font-weight: 500;
        font-size: 15.5rem;
        line-height: 1.25;
        text-align: center;
        text-transform: uppercase;
        border-radius: inherit;

        @include mob {
            padding: 19rem 24rem;
            font-size: 17rem;
        }
    }

    &__loader {
        z-index: 10;
        background: inherit;
        border-radius: inherit;
    }

    &._main {
        background: linear-gradient(to right, #c08d4e, #fcd5a3, #be894b);

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: #fff;
            border-radius: inherit;
            opacity: 0;
            transition: $trans;
            content: "";
            pointer-events: none;
        }

        @include desk {
            &:hover::after {
                opacity: 1;
            }
        }

        &._light {
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 28rem;
                height: 100%;
                background: linear-gradient(90deg, rgba(#ffe09e, 0.08), rgba(#fff, 0.4) 95%, rgba(#ffe09e, 0.6));
                animation: p5kaHeaderButton 2.5s infinite ease-in;
                content: "";
                pointer-events: none;

                @keyframes p5kaHeaderButton {
                    0% {
                        transform: translate(-60rem, 0) skewX(-40deg);
                    }

                    25% {
                        transform: translate(290rem, 0) skewX(-40deg);
                    }

                    100% {
                        transform: translate(290rem, 0) skewX(-40deg);
                    }
                }
            }
        }
    }

    &._main &__inner {
        color: $colorDark;
    }

    &._main2 {
        background: linear-gradient(to right, #c08d4e, #fcd5a3, #be894b);

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #fcd5a3, #c08d4e, #fcd5a3);
            border-radius: inherit;
            opacity: 0;
            transition: $trans;
            content: "";
            pointer-events: none;
        }

        @include desk {
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &._main2 &__inner {
        color: $colorDark;
    }

    &._main .loader__itemInner {
        background: $colorDark;
    }

    &._mainEmpty {
        background: linear-gradient(to right, #c08d4e, #fcd5a3, #be894b);
    }

    &._mainEmpty &__inner {
        background: #020202;
    }

    &._main2Empty {
        background: linear-gradient(to right, #c08d4e, #fcd5a3, #be894b);
    }

    &._main2Empty &__inner {
        color: #dab582;
        background: #020202;
    }

    &._green {
        background: linear-gradient(to right, #05564d, #0bbca8, #05564d);
    }
}
