@font-face {
    font-weight: 400;
    font-family: Circe;
    font-style: normal;
    src: url("../fonts/Circe/circe-contrast_regular.woff");
}

@font-face {
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
