.page {
    position: relative;
    z-index: 1;
    padding: 162rem 0 0;

    // transform: translate(0, -300px);

    @include mob {
        padding: 120rem 0 0;
    }

    &__inner {
        @include mob {
            width: 384rem;
        }
    }

    &__head {
        margin-bottom: 32rem;
    }

    &__description {
        margin-top: 12rem;
        color: #fff;
        font-size: 16rem;
        line-height: 1.3;
        text-align: center;
    }

    &__form {
        width: 600rem;
        margin: 0 auto;
        padding: 30rem;
        background: #020202;
        border: 2rem solid #c08d4e;
        border-radius: 24rem;
    }

    &__footer {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: 100rem;

        @include mob {
            margin-right: 32rem;
        }
    }
}
